@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: black;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Header-Section */
.header-section {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 150%
  );
  width: 100vw;
}
/* Navbar */
.navber {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3.56rem;
  width: 100%;
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.items {
  margin: 0 0.625rem;
  list-style: none;
}
.logo-name {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
}
.items {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
}
.nav-items {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.44rem;
}
.item {
  border-radius: 2.87rem;
  background: rgb(230, 83, 60);
  padding: 0.25rem 1.25rem;
  margin: 0.25rem;
}
.burger-icon {
  display: none;
  color: white;
}
@media screen and (max-width: 576px) {
  body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .header-section {
    /* background: linear-gradient(
      180deg,
      rgb(17, 17, 17),
      rgba(119, 119, 119, 0) 150%
    ); */
    width: 100vw;
    overflow: hidden;
    /* border: 1px solid salmon; */
  }

  .nav-items {
    display: none;
  }
  .burger-icon {
    display: block;
    color: white;
    margin-right: 3.5rem;
  }
  .navber {
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
    margin: 3.25rem 1.25rem;
  }
}
